* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background: #f2e8f2;
    margin: 0;
}
header, footer {
    background: #231a4a;
    color: white;
    text-align: center;
    padding: 1rem;
}
main {
    max-width: 600px;
    margin: 2rem auto;
    background: #d7c3e0;
    padding: 1.5rem;
    border-radius: 8px;
}
label, legend {
    display: block;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}
/* Add red * to required fields */
label:has(input[required])::after,
label:has(select[required])::after {
    content: " *";
    color: red;
}
input[type="text"],
input[type="date"],
 select, 
 textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}
.rating label {
    display: inline-block;
    margin-right: 1rem;

}
.optional {
    color: #1a4a44;
    font-weight: normal;
    font-size: 0.8rem;
}
input[type="submit"] {
    margin-top: 1.5rem;
    background: white;
    border: 2px solid #231a4a;
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    main {
        margin: 1rem;
        padding: 1rem;
    }
    h1 {
        font-size: 1.5rem;
    }
}